# 1
`d = {'x': 10, 'y': 20, 'z': 30} `
1. Print what value y has
2. Print all the keys
3. Write a Python program to iterate over the dictionary using for loops, print every value.
4. Add 5 to each value in the dictonary
5. Can you use a dictionary comprehesion for above mentioned question?
6. Write a Python program to sum all the values in the dictionary.

In [1]:
d = {'x': 10, 'y': 20, 'z': 30}

In [182]:
#1
d['y']

21

In [3]:
#2
d.keys()

dict_keys(['x', 'y', 'z'])

In [4]:
#3

for key, value in d.items():
    print(value)

10
20
30

In [5]:
value = [value for key, value in d.items()]
print(value)

[10, 20, 30]

In [6]:
#4 add 5 to each value in the dictonary
for key, value in d.items():
    newvalue = value +5
    d[key] = newvalue
    print(newvalue)
print(d)

15
25
35
{'x': 15, 'y': 25, 'z': 35}

In [7]:
#5 
#Python Dictionary Comprehension
#Dictionary comprehension is a method for transforming one dictionary into another dictionary. 
#During this transformation, items within the original dictionary can be conditionally included 
#in the new dictionary and each item can be transformed as needed.
d = {'x': 10, 'y': 20, 'z': 30}
# Double each value in the dictionary
d2 = {k:v+5 for (k,v) in d.items()}
print(d2)

{'x': 15, 'y': 25, 'z': 35}

In [143]:
#6 sum all values in dictionary
print(sum(d.values()))

60

In [145]:
dic = {
    "name": ['Marina', 'Ivana', 'Nina'],
    "country": ['Netherlands', 'Poland', 'Germany'],
    "city": ['Amsterdam', 'Krakow', 'Berlin']
}

In [151]:
dic.keys()

dict_keys(['name', 'country', 'city'])

In [153]:
dic.values()

dict_values([['Marina', 'Ivana', 'Nina'], ['Netherlands', 'Poland', 'Germany'], ['Amsterdam', 'Krakow', 'Berlin']])

In [155]:
dic.items()

dict_items([('name', ['Marina', 'Ivana', 'Nina']), ('country', ['Netherlands', 'Poland', 'Germany']), ('city', ['Amsterdam', 'Krakow', 'Berlin'])])

In [157]:
for key, values in dic.items():
    for val in values:
        print(key,val)

name Marina
name Ivana
name Nina
country Netherlands
country Poland
country Germany
city Amsterdam
city Krakow
city Berlin

In [159]:
for key, values in dic.items():
    print(key, values)

name ['Marina', 'Ivana', 'Nina']
country ['Netherlands', 'Poland', 'Germany']
city ['Amsterdam', 'Krakow', 'Berlin']

### add new info to dictionary

for key in data: # Iterates just through the keys, ignoring the values

for key, value in d.items(): # Iterates through the pairs

for key in d.keys(): # Iterates just through key, ignoring the values

for value in d.values(): # Iterates just through value, ignoring the keys

# 2
1. How many unique cities does the dataset contain?
2. How many rows and columns does the dataset have?
3. How many unique cities does the dataframe contain?

In [9]:
import pandas as pd
df = pd.read_csv('~/Documents/Pylaides/2_Bootcamp-Data-Analysis-beginner-apr-may2020_mine/lessons/Case.csv')
df.head()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403

In [10]:
# 1

n_of_cities = df['city'].nunique()

print('The number of unique cities is:', n_of_cities)

The number of unique cities is: 34

In [11]:
# 2 number of rows and columns is checked by using a following command
df.shape

(112, 8)

In [12]:
# 3 OK in this part we should extract a province and then calculate the number of cities in that particular province

df_Seoulprovince = df.query("province == 'Seoul'")
df_Seoulprovince.head()

#count unique values in dataframe
n = df_Seoulprovince['city'].nunique()

print('The number of unique cities in Seoul province is:', n)

The number of unique cities in Seoul province is: 8

# 3
1. Prove the dataframe has no missing values
2. What percentage of the dataframe has information about a case in Seoul?
3. How many confirmed cases in Seoul?

In [13]:
# 1 check for missing values

df.info() #there aren't missing values in this dataset/dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_id         112 non-null    int64
 1   province        112 non-null    object
 2   city            112 non-null    object
 3   group           112 non-null    bool
 4   infection_case  112 non-null    object
 5   confirmed       112 non-null    int64
 6   latitude        112 non-null    object
 7   longitude       112 non-null    object
dtypes: bool(1), int64(2), object(5)
memory usage: 6.4+ KB

In [14]:
# 2
per = (df_Seoulprovince.shape[0]/df.shape[0])*100
round(per,2)

df.province.value_counts(1) #

Gyeongsangbuk-do     0.107143
Seoul                0.098214
Gyeongsangnam-do     0.089286
Daegu                0.080357
Gyeonggi-do          0.080357
Busan                0.080357
Daejeon              0.053571
Gangwon-do           0.053571
Sejong               0.053571
Incheon              0.044643
Chungcheongbuk-do    0.044643
Jeollanam-do         0.044643
Chungcheongnam-do    0.044643
Gwangju              0.035714
Ulsan                0.035714
Jeollabuk-do         0.026786
Jeju-do              0.026786
Name: province, dtype: float64

In [15]:
# 3 How many confirmed cases are in Seoul city
df_Seoulprovince.confirmed.sum()

565

## Excercises

#### Exercise Question 1: Create a function that can accept two arguments name and age and print its value

In [16]:
def func_two_arg(name, age):
    print(name, age)

In [17]:
name = 'Marina'
age = 37
func_two_arg(name, age)

Marina 37

In [18]:
func_two_arg('Marina', 37)

Marina 37

#### Exercise Question 2: Write a function func1() such that it can accept a variable length of  argument and print all arguments value

##### Expected output

After func1(20, 40, 60):

20
40
60

In [19]:
def func1(numbers):
    for i in numbers:
        print(i)

In [20]:
def func2(*numbers): 
    #print(numbers)
    for i in numbers:
        print(i)

#Understand what type of list of numbers is this (tupple maybe?)

In [21]:
func2(20,30)

20
30

In [22]:
func2(numbers)

NameError: name 'numbers' is not defined

In [24]:
numbers= [20,30,40]
func1(numbers)

20
30
40

* hint : To accept Variable Length of Positional Arguments, i.e., To create functions that take n number of Positional arguments we use *args(prefix a parameter name with an asterisk * ).

##### Exercise Question 3: Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call

In [25]:
def calculation(num1,num2):
    addition = num1+num2
    subtraction= num1/num2
    return addition, subtraction

In [26]:
def calculation2(num1,num2):
    return num1+num2, round(num1/num2,2)

In [27]:
calculation(2,3)

(5, 0.6666666666666666)

In [28]:
calculation2(2,3)

(5, 0.67)

In [29]:
add, sub = calculation2(2, 3)
print(add)
print(sub)

5
0.67

##### Exercise Question 4: Create a function showEmployee() in such a way that it should accept employee name, and it’s salary and display both, and if the salary is missing in function call it should show it as 9000

In [30]:
def showEmployee(name, salary=None): #use here condition None if you expect that someone will not add info about salary
    if salary is None:
        salary = 90000
    else:
        salary
    return name, salary

In [31]:
showEmployee("Ben", 9000)

('Ben', 9000)

In [32]:
showEmployee("Ben")

('Ben', 90000)

In [33]:
def showEmployee(name, salary=None): #use here condition None if you expect that someone will not add info about salary
    if salary is None:
        salary = 90000
        print('Employee', name+"'s", 'salary is:', salary)
    else:
        print('Employee', name+"'s", 'salary is:', salary)

In [34]:
showEmployee("Ben", 9000)

Employee Ben's salary is: 9000

In [35]:
showEmployee("Ben")

Employee Ben's salary is: 90000

In [36]:
def showEmployee(name, salary=90000):
    print('Employee', name+"'s", 'salary is:', salary)

In [37]:
showEmployee("Ben")

Employee Ben's salary is: 90000

In [38]:
showEmployee("Ben", 9000)

Employee Ben's salary is: 9000

##### Exercise Question 5: Create an inner function to calculate the addition in the following way
* Create an outer function that will accept two parameters a and b
* Create an inner function inside an outer function that will calculate the addition of a and b
* At last, an outer function will add 5 into addition and return it

In [39]:
def two_param(a,b):
    def inner_two_param(a,b):
        add = a+b
        return add
    return inner_two_param(a,b) + 5

In [40]:
two_param(2,3)

10

##### Exercise Question 6: Write a recursive function to calculate the sum of numbers from 0 to 10

In [41]:
def sum_forloop(num):
    sum = 0
    for i in range(num+1):
        sum = sum + i
    return sum

In [42]:
def recursivefun(num):
    if num: #this checks that is not None or Zero
        return num + recursivefun(num-1) #stack - each function call puts arguments on the stack
    else:
        return 0

In [43]:
sum_forloop(10)

55

In [44]:
recursivefun(10)

55

In [45]:
recursivefun(0)

0

#### Exercise Question 7: Assign a different name to function and call it through the new name

Below is the function displayStudent(name, age). Assign a new name showStudent(name, age)  to it and call through the new name


def displayStudent(name, age):
   > print(name, age)

displayStudent("Emma", 26)

You should be able to call the same function using

showStudent(name, age)

In [46]:
def displayStudent(name, age):
    print(name, age)

In [47]:
def showStudent(name, age):
    displayStudent(name,age)

In [48]:
displayStudent("Emma", 26)

Emma 26

In [49]:
showStudent = displayStudent # or in this way, we do not have to write down arguments
showStudent("Emma", 26)

Emma 26

##### Exercise Question 8: Generate a Python list of all the even numbers between 4 to 30

Expected Output:

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [54]:
list_1=[]
for i in range(4,30):
    if (i%2)==0:
        list_1.append(i)
    else:
        continue

In [55]:
print(list_1)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [56]:
x = range(4,30,2)
lista = []
for i in x:
    lista.append(i)
print(lista)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [57]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

##### Exercise Question 9: Return the largest item from the given list

aList = [4, 6, 8, 24, 12, 2]

Expected Output:

24

In [59]:
aList = [4, 6, 8, 24, 12, 2]

print(max(aList))

24

In [80]:
def max_item(aList):
    maximum = 0
    for i in aList:
        if i>maximum:
            maximum=i
    return maximum

In [81]:
print(max_item(aList))

24

In [82]:
def max_item(aList):
    maximum = 0
    for i in aList:
        if i>maximum:
            maximum=i
    return maximum

In [98]:
aList = [4, 6, 8, 24, 12, 2]

In [101]:
print(max_of_all(aList))

2

In [102]:
aList

[4, 6, 8, 24, 12, 2]

In [103]:
def max_of_all(aList):
    if aList:
        maximum = aList[0]
        for i in aList:
            if i > maximum:
                maximum=i
        return maximum
    else:
        return 'The list is empty'

In [107]:
aList = [-24,-5,-10,-2]

In [108]:
aList=[]

In [109]:
print(max_of_all(aList))

The list is empty

##### function that is return absolute value

In [110]:
num= -5

In [111]:
def abs_value(num):
    if num < 0:
        num = num * -1
    return num

In [113]:
print(abs_value(num))

5

#### function mode

#### function word count

In [116]:
 def f_1(num):
        num = 100
        return num

print(f_1(999))

100

#### Create a function named f_1 which takes an integer as input and then returns it.

In [117]:
# Type your answer here.
def f_1(num):
    return int(num)

print(f_1(44))

44

#### Can you define a function that takes a list as input and returns the reverse of that list?

In [133]:
# Type your answer here.
def f_1(lst):
    lst.reverse()
    return lst

print(f_1([1,2,3]))

[3, 2, 1]

In [141]:
lst = [1,2,3]
print(lst)

[1, 2, 3]

In [134]:
lst.reverse()
print(lst)

[1, 2, 3]

In [142]:
def f_1(lst):
    if lst:
        lst.reverse()
    return lst



print(f_1(lst))

[3, 2, 1]

In [162]:
text = 'My brain is only a receiver, in the Universe there is a core from which we obtain knowledge, strength and inspiration.'

In [165]:
def count_words(text):
    list_text = text.split(' ')
    count_words = 0
    for word in list_text:
        count_words+=1
    return count_words

In [167]:
print(count_words(text))

21

In [173]:
# word count
def count_words_2(text):
    list_text = text.split(' ')
    dict_text={}
    for word in list_text:
        dict_text[word]=list_text.count(word)
    return dict_text

In [175]:
print(count_words_2(text))

{'My': 1, 'brain': 1, 'is': 2, 'only': 1, 'a': 2, 'receiver,': 1, 'in': 1, 'the': 1, 'Universe': 1, 'there': 1, 'core': 1, 'from': 1, 'which': 1, 'we': 1, 'obtain': 1, 'knowledge,': 1, 'strength': 1, 'and': 1, 'inspiration.': 1}

In [181]:
#how to strip all punctations from the text
import re
text_2 = re.sub('[^\w\s]', '', text)
print(text)
print(text_2)

My brain is only a receiver, in the Universe there is a core from which we obtain knowledge, strength and inspiration.
My brain is only a receiver in the Universe there is a core from which we obtain knowledge strength and inspiration

In [188]:
#word count another way
import re
def count_words_3(text):
    text_2 = re.sub('[^\w\s]', '', text)
    list_text = text_2.split(' ')
    dict_text={}
    for word in list_text:
        if word in dict_text:
            dict_text[word]= dict_text[word]+1
        else:
            dict_text[word]=1
    return dict_text

In [189]:
print(count_words_3(text))

{'My': 1, 'brain': 1, 'is': 2, 'only': 1, 'a': 2, 'receiver': 1, 'in': 1, 'the': 1, 'Universe': 1, 'there': 1, 'core': 1, 'from': 1, 'which': 1, 'we': 1, 'obtain': 1, 'knowledge': 1, 'strength': 1, 'and': 1, 'inspiration': 1}